body
{
    background-image: url("skner.jpg");
	background-size: cover;
    font-family:Arial;
    font-size:15px;
    color:black;
     width: 300px;
   height: 300px;
   margin: auto;
   position: absolute;
   left:0; right:0;
   max-width: 100%;
   max-height: 100%;
   overflow: auto;
}